<div class="hoja-de-vida">
    <img src="assets/Mateo.jpg" alt="Mi foto" class="foto-perfil">
    <h1>Mi Hoja de Vida</h1>
  
    <section>
      <h2>Información personal</h2>
      <ul>
        <li><strong>Nombre:</strong> Mateo Florian</li>
        <li><strong>Edad:</strong> 21</li>
        <li><strong>Dirección:</strong> Av 1</li>
        <li><strong>Teléfono:</strong> 3023237922</li>
        <li><strong>Correo electrónico:</strong> mateo172001@gmail.com</li>
      </ul>
    </section>
  
    <section>
      <h2>Experiencia laboral</h2>
      <ul>
        <li>
          <strong>Empresa:</strong> Healppi
          <br>
          <strong>Cargo:</strong> Desarrollador FrontEnd
          <br>
        </li>
      </ul>
    </section>
  
    <section>
      <h2>Educación</h2>
      <ul>
        <li>
          <strong>Institución:</strong> Universidad Simón Bolívar
          <br>
          <strong>Título:</strong> Ingeniero Multimedia
          <br>
          <strong>Año:</strong> 2025
        </li>
      </ul>
    </section>
  </div>
  